/*input[type=text] {
    padding: 12px 20px;
    margin: 8px 19px 8px 0px;
    box-sizing: border-box;
    border: 2px solid red;
}*/

/*input[type=text]:focus {
    width: 100%;
}*/

#dateDiv {
    float: right;
}

.clsdatepicker {
    z-index: 10000 !important;
}

#inputDiv {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

